.icon {
  display: inline-block;
  vertical-align: middle;
  pointer-events: none;
  background-color: #eee;
  border-radius: 50%;
  box-shadow: 0px 0px 2px 1px #c1c1c1;
}

.circle {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0px 0px 2px 1px #c1c1c1;
}
